<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="panel panel-default ">
          <!-- Default panel contents -->
          <div class="panel-heading">Available News Items</div>
          <ul class="list-unstyled">
            <li *ngFor="let item of newsItems">
              <div class="media-right">
                <input type="radio" name="news" (click)="onSelect(item)">
                {{item.title}} <a href="{{item.link}}">(read more)</a> <br>
              </div>
            </li>
          </ul>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="other news/article url...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default ">
          <!-- Default panel contents -->
          <div class="panel-heading">Extracted Contents</div>
          <p class="news-contents">
            {{evidenceService.article}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default ">
          <!-- Default panel contents -->
          <div class="panel-heading">Nominated Keywords</div>
            <input type="text" [(ngModel)]="supportKeywords" class="form-control" placeholder="Comma separated support keywords">
            <input type="text" [(ngModel)]="mainKeyword" class="form-control" placeholder="Keyword of interest">
            <button type="submit" (click)="buildCorpus()" class="btn btn-default btn-block">Fetch Articles For Corpus</button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading">Processed words</div>
        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Words</th>
            <th>Counts</th>
            <th>Normalized</th>
            <th>IDF factor</th>
            <th>TFIDF factor</th>
            <th>TFIDF 2</th>
          </tr>
          </thead>
          <tbody *ngFor="let word of evidenceService.words; let i=index">
          <tr>
            <th>{{i+1}}</th>
            <td>{{word.key}}</td>
            <td>{{word.value}}</td>
            <td>{{word.value/evidenceService.normFactor|number : '1.5-5'}}</td>
            <td>{{word.idf}}</td>
            <td>{{word.tfidf}}</td>
            <td>{{word.tfidf2}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
