<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading">Available News Items</div>
        <ul class="list-unstyled">
          <li *ngFor="let item of newsItems">
            <div class="media-right">
            <input type="radio" name="news" (click)="onSelect(item)">
            {{item.title}}
            <a href="{{item.link}}">(read more)</a>
              </div>
          </li>
        </ul>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="other news/article url...">
          <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default ">
        <!-- Default panel contents -->
        <div class="panel-heading">Processing words</div>
        <!-- Table -->
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Words</th>
            <th>Counts</th>
            <th>Normalized Value</th>
            <th>TF-IDF factor</th>
          </tr>
          </thead>
          <tbody *ngFor="let word of evidenceService.words; let i=index">
          <tr>
            <th>{{i+1}}</th>
            <td>{{word.key}}</td>
            <td>{{word.value}}</td>
            <td>{{word.value/evidenceService.normFactor}}</td>
            <td>{{word.tfidf}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
